<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>学习日志</title>
</head>
{% extends "learning_logs/base.html" %}
{% block header %}
  <div class='jumbotron'>
    <h1>
      <p>记录失败的人生，</P>
      <p>品味生活的苦涩。</P>
    </h1>
  </div>
{% endblock header %}
{% block content %}
<h2>
<a href="{% url 'users:register' %}">注册一个账户</a>用来
登录这个小破站，注册好后登录，你可以往这个网站上写任何你想写的东西。
</h2>
<h2>
<p>私人领域（要先注册或登录）：这里容得下你失败的人生记录，容得下让你哭笑不得的生活点滴，容得下你获得的人生感悟,
容得下你学会的经验教训。我不会告诉别人哒:)</p>
<p>公共空间（无需登录或注册）：可以发布任何内容。注意，该内容是公开的，任何访问页面的人都能看到。</p>
</h2>
{% endblock content %}
</html>